<form [formGroup]="uploadForm" (submit)="onSubmit($event)">`
    <label>
        <input type="file" (change)="selectImage($event)" accept="image/*" style="display:none"/>
        <img *ngIf="previewDataUrl" [src]="previewDataUrl" style="width:50px; height: 50px;" />
        <a *ngIf="!previewDataUrl" ion-button color="tertiary">
            Select an item photo
        </a>
    </label>
    <ion-item>
        <ion-label position="floating" color="tertiary">Name</ion-label>
        <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="tertiary">Price</ion-label>
        <ion-input type="number" formControlName="price" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" color="tertiary">Description</ion-label>
        <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>
    <ion-button 
        color="tertiary" 
        type="submit"
        [disabled]="!uploadForm.valid || !file">
            Confirm
    </ion-button>
</form>
