<form [formGroup]="deleteForm">
    <label>
        <ion-label position="floating" color="tertiary">Are you sure to delete this cart?</ion-label>
    </label>
    <div>
        <ion-button 
            color="tertiary" 
            type="submit"
            (click)="onSubmit($event)">
            Yes
        </ion-button>
        <ion-button 
            color="tertiary" 
            type="submit"
            (click)="cancel()">
            No
        </ion-button>
    </div>
</form>
